* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

header {
	background: 
	/*top, transparent #92C7b0*/
	linear-gradient(
        rgba(0, 0, 0.5, -.6),
        rgba(0, 0.5, 0.9, 0.6)
	     ),
	/*bottom, image*/
	url(images/bg3.jpg);
	background-size: 100% 100%;
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
}

.header-text {
	text-align: center;
}

.header-text h1{
	padding-top: 12rem;
	font-family: 'Raleway', sans-serif;
	color: white;
	opacity: .5;
	font-size: 4rem;
	font-weight: 700;
	clear: both;
	transition: 3s;
}

span {
	display: none;
}

.header-text button  {
	margin-top: 2rem;
	height: 3rem;
	width: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	font-family: 'Montserrat', sans-serif;
	opacity: .7;
	border-radius: 10px;
	font-weight: 700;
	letter-spacing: 1px;
	cursor: pointer;
	border: 0;
	text-transform: uppercase;
	text-align: center;
	background-color: white;
}

.header-text button:hover {
	background-color: lightgray;
	color: black;
	transition: .5s;
	transform: scale(1.1);
}

/*Nav Menu*/

.navmenu{
	background-color: gray;
	display: none;
}

.navmenu ul{
	display: flex;
	float: right;
	clear: both;

}



.navmenu li,a {
	list-style: none;
	text-decoration: none;
	margin-right: 1rem;
	margin-top: 1rem;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;

}

.navmenu a:hover {
	color: gray;
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	padding-top: .5rem;
	padding-bottom: .5rem;
	transition: .3s;
}

/*MAIN*/

.cards-container {
	height: 100vh;
	background-color: #F7F9FB;
	padding-top: 5rem;
	margin-right: 1rem;
	margin-left: 1rem;


}

.cards-gallery {
	background-color: lightgray;
	max-width: 100%;
	text-align: center;
	border: 3px solid lightgray;
	max-height: 20rem;
	padding: 1rem;
	box-shadow: 1px 5px 5px gray;
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 1rem;
}

.cards-gallery h3 {
	font-family: 'Raleway', sans-serif;
	margin: .5rem;
	letter-spacing: 1px;
	color: gray;
}

.cards-gallery p {
	line-height: 1.2;
	font-family: 'Montserrat', sans-serif;
	font-size: .8rem;
	margin-left: .5rem;
	margin-right: .5rem;
}

.cards-gallery img {
	height: 5rem;
	width: auto;
}



















@media only screen and (min-width: 961px){
		.header-text h1{
		padding-top: 12rem;
		font-family: 'Raleway', sans-serif;
		color: white;
		opacity: .5;
		font-size: 8rem;
		font-weight: 700;
		clear: both;
		transition: 3s;
	}

		span {
			display: inline;
		}


	.header-text button  {
		margin-top: 2rem;
		height: 4rem;
		width: auto;
		padding-left: 4rem;
		padding-right: 4rem;
		font-family: 'Montserrat', sans-serif;
		opacity: .7;
		border-radius: 10px;
		font-weight: 700;
		letter-spacing: 1px;
		cursor: pointer;
		border: 0;
		text-transform: uppercase;
		text-align: center;
		background-color: white;
	}

	.header-text button:hover {
		background-color: lightgray;
		color: black;
		transition: .5s;
		transform: scale(1.1);
	}

	.navmenu{
		display: inline;
		background-color: gray;
	}

	.navmenu ul{
		display: flex;
		float: right;
		clear: both;

	}



	.navmenu li,a {
		list-style: none;
		text-decoration: none;
		margin-right: 1rem;
		margin-top: 1rem;
		color: white;
		font-family: 'Montserrat', sans-serif;
		font-size: 1rem;
		font-weight: 700;
		text-transform: uppercase;

	}

	.navmenu a:hover {
		color: gray;
		border-top: 2px solid lightgray;
		border-bottom: 2px solid lightgray;
		padding-top: .5rem;
		padding-bottom: .5rem;
		transition: .3s;
	}

	.cards-container {
		height: 100vh;
		background-color: #F7F9FB;
		display: flex;
		justify-content: space-around;
		padding-top: 5rem;

	}

	.cards-gallery {
		background-color: lightgray;
		width: 25%;
		margin-left: 3rem;
		margin-right: 3rem;
		text-align: center;
		border: 3px solid lightgray;
		max-height: 20rem;
		padding: 1rem;
		box-shadow: 1px 5px 5px gray;
		overflow: hidden;
		border-radius: 10px;
	}

	.cards-gallery h3 {
		font-family: 'Raleway', sans-serif;
		margin: .5rem;
		letter-spacing: 1px;
		color: gray;
	}

	.cards-gallery p {
		line-height: 1.2;
		font-family: 'Montserrat', sans-serif;
		font-size: .8rem;
		margin-left: .5rem;
		margin-right: .5rem;
	}

	.cards-gallery img {
		height: 5rem;
		width: auto;
	}
}